/*
	Polaris by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 11pt;
	}