/*
	Polaris by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Forms */

		form
		{
			width: 70%;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 0em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
			#logo h1 a
			{
				top: 0.95em;
			}

		#logo .pennant
		{
			top: 1.5em;
		}

			#logo .pennant span
			{
				padding-top: 0.39em;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron.level-0
	{
		margin-top: 1.5em;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 5em 0em 5em 0em;
	}
	
		#banner header
		{
			margin-bottom: 2em;
		}

			#banner header h2
			{
				font-size: 3.5em;
			}
			
			#banner header .byline
			{
				font-size: 1.5em;
			}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 5em 0em;
	}

		.homepage #main header p
		{
			padding: 0em 5em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		padding: 4em 0em 5em 0em;
	}
