<!-- About -->
<div id="about-wrapper">
  <section id="about" class="container">
    <header>
      <span class="pennant icon fa-laptop"></span>
      <h2>Too long; didn't read</h2>
      <span class="byline">Morbi interdum mollis sapien sed ac risus phasellus lacinia</span>
    </header>
    <div class="row">
      <section class="6u alignright">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent elementum hendrerit tortor. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi dapibus id, mattis vel, nisi. Sed pretium, ligula sol.</p>
      </section>
      <section class="6u alignleft">
        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Praesent elementum hendrerit tortor.</p>
      </section>
    </div>
    <ul class="actions">
      <li><a href="https://github.com/tldrcode/tldrcode.com" class="button">Contribute</a></li>
    </ul>
  </section>
</div>
<!-- /About -->
