<!-- About -->
<div id="about-wrapper">
  <section id="about" class="container">
    <header>
      <span class="pennant icon fa-laptop"></span>
      <h2>Too long; didn't read {Code}</h2>
      <span class="byline">A site dedicated to pure syntax reference.</span>
    </header>
    <div class="row">
      <section class="6u alignright">
        <p>After learning the concepts behind programming, learning a new language comes down to one thing: syntax. The goal of tl;dr{code} is to be a central hub for programming syntax, allowing developers to focus more on the code iteself.</p>
      </section>
      <section class="6u alignleft">
        <p>We need people like you to keep this site accurate and up-to-date. If you would like to contribute to the project by adding new languages or correcting existing ones, please send us a pull request on github. Program long and prosper!</p>
      </section>
    </div>
    <ul class="actions">
      <li><a href="https://github.com/tldrcode/tldrcode.com" class="button">Contribute</a></li>
    </ul>
  </section>
</div>
<!-- /About -->
