<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="/">tl;dr<span>{Code}</span></a></h1>
  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="#">Languages <i class="icon fa-angle-down"></i></a>
        <ul>
          {% for language in site.languages %}
          <li><a href="{{ language.url }}">{{ language.Language }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="#">Tools <i class="icon fa-angle-down"></i></a>
        <ul>
          {% for tool in site.tools %}
            <li><a href="{{ tool.url }}">{{ tool.tool-name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/contributors">Contributors</a></li>
    </ul>
  </nav>
</header>
<!-- /Header -->
