<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="/index.html">tl;dr<span>{Code}</span></a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>
        <a href="" class="icon fa-angle-down">Languages</a>
        <ul>
          {% for language in site.languages %}
          <li><a href="/languages/{{ post.title }}.html">{{ language.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="" class="icon fa-angle-down">Tools</a>
        <ul>
          <li><a href="left-sidebar.html">Left Sidebar</a></li>
          <li><a href="right-sidebar.html">Right Sidebar</a></li>
          <li><a href="no-sidebar.html">No Sidebar</a></li>
        </ul>
      </li>
      <li><a href="elements.html">About</a></li>
      <li>
        <input name="search" placeholder="Search" type="text" class="text icon fa-angle-down"/>
        <ul id="banner-results-container">
        </ul>
      </li>
    </ul>
  </nav>
</header>
<!-- /Header -->
