<!-- Languages -->
<div id="languages">
  <div class="container">
    <ul class="featured">
      <li>
        <span class="pennant"><span class="icon icon-c"></span></span>
        <h3>Lorem Ipsum</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="pennant"><span class="icon icon-python"></span></span>
        <h3>Aliqua tincidu</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="pennant"><span class="icon icon-java"></span></span>
        <h3>Vestibul auctor</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="icon-perl"></span>
        <h3>Cras ornare</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="icon-shell size-18"></span>
        <h3>Lorem Ipsum</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="icon-windows"></span>
        <h3>Lorem Ipsum</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="icon-csharp"></span>
        <h3>Lorem Ipsum</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
      <li>
        <span class="icon-javascript size-72"></span>
        <h3>Lorem Ipsum</h3>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue vulputate.</p>
      </li>
    </ul>

  </div>
</div>
<!-- /Languages -->
