<!-- Languages -->
<div id="languages">
  <div class="container">
    <ul class="featured">
      {% for language in site.languages limit:8 %}
      {% capture var %}{{ forloop.index0 }}{% endcapture %}
      {% if var == '0' or var == '4' %}
      <div class="row">
        {% endif %}
        <div class="3u">
            <a href="{{ language.url }}"><span class="pennant"><span class="icon {{ language.icon }}"></span></span></a>
            <h3><a href="{{ language.url }}">{{ language.Language }}</a></h3>
          <p>{{ language.Language_Description }}</p>
        </div>
      {% if var == '3' or var == '7' %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- /Languages -->
