<!-- Languages -->
<div id="languages">
  <div class="container">
    <ul class="featured">
      {% assign counter = 0 %}
      {% for language in site.languages %}
      {% capture modulo %}{{ counter | modulo:4 }}{% endcapture %}
        {% if language.featured %}
          {% if modulo == '0' and counter != 0 %}
            </div>
          {% endif %}
          {% if modulo == '0' %}
            <div class="row">
          {% endif %}
          <div class="3u">
              <a href="{{ language.url }}"><span class="pennant"><span class="icon {{ language.icon }}"></span></span></a>
              <h3><a href="{{ language.url }}">{{ language.Language }}</a></h3>
            <p>{{ language.Language_Description }}</p>
          </div>
          {% assign counter = counter | plus:1 %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<!-- /Languages -->
