---
layout: default
noncategories:
  - layout
  - permalink
  - icon
  - Language
  - Language_Description
  - prism_name
  - output
  - content
  - path
  - relative_path
  - url
  - collection
  - featured
---
{% assign prism_name =  page.Language | downcase %}
{% if page.prism_name %}
{% assign prism_name =  page.prism_name %}
{% endif %}
<div id="main"><!-- Main -->
  <div class="container"><!-- Container -->
    <script type="text/javascript">
      function toggle_visibility(id) {
         var e = document.getElementById(id);
         if(e.style.display == 'block')
            e.style.display = 'none';
         else
            e.style.display = 'block';
      }
    </script>
    <div class="row">
      <div id="content" class="12u">
        <article>
          <header>
            <h2>{{ page.Language }}</h2>
            <span class="byline">{{ page.Language_Description }}</span>
          </header>
        </article>
      </div>
    </div>
    <div id="grid">
      {% for category in page %}
        {% unless layout.noncategories contains category[0] %}
          <div class="grid-item">
            <div class="list-group">
              <div class="list-group-item active"><h1>{{ category[0] | replace:'_',' ' }}</h1></div>
              {% for subcategory in category %}
                {% if subcategory != category[0] %}
                  {% for type in subcategory %}
                    <div class="list-group-item">
                      <h2><a style="display: block" onclick="toggle_visibility('{{ type.Type | replace: ' ', '_' }}');">
    	                  <span style="width: 100%">
    	                    {{ type.Type | strip_newlines | escape }}
                          <i class="icon fa-angle-down" style="float: right"></i>
                        </span>
                      </a></h2>
                      <div style="display: none;" id='{{ type.Type | replace: ' ', '_' }}'>
                        {% for section in type %}
                          {% capture sectionname %}{{ section[0] | downcase | capitalize }}{% endcapture %}
                          {% if sectionname == "Syntax" %}
                    			  {% if sectionname != type.Type %}
                    			    <h3>{{ sectionname }}</h3>
                    			  {% endif %}
                            <pre><code class="language-{{ prism_name }}">{{ section[1] | escape }}</code></pre>
    	                    {% elsif sectionname == "Example" %}
                            {% if sectionname != type.Type %}
    	                        <h3>{{ sectionname }}</h3>
    	                      {% endif %}
                            <pre><code class="language-{{ prism_name }}">{{ section[1] | escape }}</code></pre>
                          {% else %}
                            {% if section[0] != "Type" %}
                              <p>{{ section[1] }}</p>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
    <script>
    $("#grid").gridalicious({
      selector: '.grid-item',
      width: 350
    });
    </script>
  </div><!-- /Container -->
</div><!-- /Main -->
