---
layout: default
---

<!-- Main -->
  <div id="main">
    <div class="container">
      <!-- Content -->
        <div class="row">
          <div id="content" class="12u">
            <article>
              <header>
                <h2>{{ page.Language }}</h2>
                <span class="byline">{{ page.Language_Description }}</span>
              </header>


<h1>Data Types</h1>
<ul>
  {% for Data_Type in page.Data_Types %}
    <li>{{ Data_Type.Type }}</li>
    <li>
      <ul>
        <li>{{ Data_Type.Description }}</li>
        <li>{{ Data_Type.Syntax }}</li>
      </ul>
    <li>
  {% endfor %}
</ul>
<br>


<h1>Structures</h1>
<ul>
  {% for Structure in page.Structures %}
    <li>{{ Structure.Type }}</li>
      <li>
        <ul>
          <li>{{ Structure.Description }}</li>
          <li>{{ Structure.Syntax }}</li>
          <li>{{ Structure.Example }}</li>
          <li>{{ Structure.Example_Description }}</li>
        </ul>
      </li>
  {% endfor %}
</ul>
<br>


<h1>User Interface</h1>
<ul>
  {% for User_Interface in page.User_Interface %}
    <li>{{ User_Interface.Type }}</li>
    <li>
      <ul>
        <li>{{ User_Interface.Description }}</li>
        <li>{{ User_Interface.Syntax }}</li>
        <li>{{ User_Interface.Example }}</li>
        <li>{{ User_Interface.Example_Description }}</li>
      </ul>
    </li>
  {% endfor %}
</ul>
<br>

<h1>Commenting</h1>
<ul>
  {% for Comment in page.Comments %}
    <li>{{ Comment.Type }}</li>
    <li>
      <ul>
        <li>{{ Comment.Syntax }}</li>
      </ul>
    </li>
  {% endfor %}
</ul>
<br>

<h1>Hello World</h1>
{{ page.Hello_World | escape }}

</article>
</div>
</div>
<!-- /Content -->

</div>
</div>
<!-- /Main -->

<!--TODO:Functions-->
